@* Views/Shared/Components/_TestimonialComponentPartial/Default.cshtml *@
@using MyPortfolio.WebUI.DAL.Entities
@model List<Testimonial>

<section id="testimonials" class="s-testimonials target-section">

    <div class="s-testimonials__bg"></div>

    <div class="row s-testimonials__header">
        <div class="column large-12">
            <h3>Müşteri Yorumları</h3>
        </div>
    </div>

    <div class="row s-testimonials__content">

        <div class="column large-12">

            <div class="swiper-container testimonial-slider">

                <div class="swiper-wrapper">

                    @foreach (var item in Model)
                    {
                        <div class="testimonial-slider__slide swiper-slide">
                            <div class="testimonial-slider__author">
                                <img src="@item.ImageUrl" alt="@item.FullName" class="testimonial-slider__avatar">
                                <cite class="testimonial-slider__cite">
                                    <strong>@item.FullName</strong>
                                    <span>@item.Title</span>
                                </cite>
                            </div>
                            <p>
                                @item.Comment
                            </p>

                           
                        </div>
                    }

                </div> <!-- end testimonial-slider__wrapper -->

                <div class="swiper-pagination"></div>

            </div> <!-- end swiper-container -->

        </div> <!-- end column -->

    </div> <!-- end row -->

</section> <!-- end s-testimonials -->
